/* Styling */
*{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
body {
background: linear-gradient(#717173, #000000);
    
}

#page-wrap {
    width: 800px;
    margin: 0 auto;
}

}
h1{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
    color: white;
    
    
}

h2{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
    color: white;
}

p{
    color: black;
    font-size: 14px;
    line-height: 1.75;
    font-family: 'Source Sans Pro', sans-serif;
}
section{
    display: flex;
    flex-flow: column nowrap;
    width: 500px;
    height: 130px;
    text-align: center;
    margin: 2px;
    padding: 30px;
}
.trailer {
    display: flex;
    background: none;
}

.synopsis {
    display: flex;
    background: rgba(255, 255, 255, .5);
}
.movieinfo{
    display: flex;
    background: rgba(255, 255, 255, .5);
}

.links{
    display: flex;
    background: rgba(255, 255, 255, .5);
}
