/* Styling */
*{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
body {
background: linear-gradient(#717173, #535354, #000000);
    
}
.wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
h1{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
    color: white;
    
}

h2{
  font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
    color: white;
}

p{
    color: black;
    font-size: 14px;
    line-height: 1.75;
}
section{
    display: flex;
    flex-flow: column nowrap;
    width: 800px;
    height: 100px;
    text-align: center;
    margin: 10px;
}

.movieinfo{
    display: flex;
    background: rgba(255, 255, 255, .5)
}

.links{
    display: flex;
    background: rgba(255, 255, 255, .5)
}
